.footer {
  grid-area: footer;
  color: var(--primary-color-white);
  background-color: var(--primary-color-dark);
  margin: 0rem -0.5rem -0.5rem -0.5rem;
}

.logo {
  width: 1rem;
  height: 1rem;
  padding-top: 0.5rem;
  align-items: baseline;
}
.footer.box {
  grid-area: footer;
  display: flex;
  flex-direction: row;
  gap: 2rem;
  padding: 4rem;
}
