.navbar.box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: 3rem;
  margin: -0.5rem -0.5rem 0rem -0.5rem;
  padding: 0.8rem;
  z-index: 2;
}

.navbar {
  grid-area: navbar;
  letter-spacing: 0.5rem;
  background-color: var(--primary-color-dark);
}
.navbar a:hover {
  background-color: var(--second-color-blue);
  color: var(--primary-color-dark);
}
.navbar a {
  color: var(--second-color-purple);
  text-decoration: none;
  font-size: small;
}
.active {
  text-transform: uppercase;
  font-family: Playfair Display Bold;
  letter-spacing: 0.1rem;
}
