@import url("navbar.css");
@import url("header.css");
@import url("footer.css");
@import url("content.css");

:root {
  /* Colors */
  --primary-color-dark: #00031c;
  --primary-color-light: #f5b1a4;
  --primary-color-white: #fdfbfb;
  --second-color-blue: #679892;
  --second-color-purple: #d4b1cd;
}

p {
  font-family: Playfair Display;
  font-size: 1rem;
  padding-top: 1rem;
}
a {
  color: var(--primary-color-dark);
  text-decoration: none;
  margin-bottom: 1rem;
}

.container {
  display: grid;
  grid-template-columns: 2fr;
  grid-template-rows: 5rem 20rem 1fr;
  grid-template-areas:
    "navbar"
    "header"
    "content"
    "middlecontent"
    "sidebar"
    "footer";
  font-family: Playfair Display;
  grid-gap: 0.1rem;
}

.date {
  font-size: x-small;
  font-weight: bold;
  letter-spacing: 0.3rem;
  font-style: italic;
}

h3,
h4,
h5,
h6 {
  font-size: 1.5rem;
  font-weight: 400;
  margin: 0;
}
.sectionheader {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  font-size: 2rem;
}
.figcaption {
  font-size: 0.4rem;
}

.readmore {
  border: transparent;
  font-weight: 800;
  letter-spacing: 0.1rem;
}
a:hover {
  color: var(--primary-color-light);
  cursor: pointer;
}

.articleimg {
  max-width: 40rem;
  min-width: 8rem;
  height: auto;
  margin-left: -2rem;
  padding-top: 2rem;
}
img {
  max-width: 20rem;
  width: 10rem;
  height: auto;
  margin-left: 0.1rem;
  padding-top: 2rem;
}

.middlecontent {
  grid-area: middlecontent;
  padding: 1rem;
  margin: 0rem 1rem 0 1rem;
}
#firstheader {
  font-size: 2rem;
  border-bottom: 2px solid var(--primary-color-dark);
}

.middlecontent.box {
  border-bottom: 2px solid black;
}

.sidebarheader {
  text-decoration: none;
  font-size: 2rem;
}

.sidebar {
  grid-area: sidebar;
  padding: 1rem;
  margin: 0rem 1rem 0 1rem;
}

p {
  padding-top: 1rem;
}

@media (max-width: 600) {
  .container {
    display: grid;
    grid-template-columns: 2fr;
    grid-template-rows: 5rem 20rem 1fr;
    grid-template-areas:
      "navbar"
      "header"
      "content"
      "middlecontent"
      "sidebar"
      "footer";
    width: 100vw;
  }
}
/* Medium Screen */
@media (min-width: 601px) and (max-width: 900px) {
  html {
    width: 100vw;
    height: auto;
  }
  .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 5rem 15rem 1fr;
    grid-template-areas:
      "navbar navbar navbar"
      "header header header"
      "content middlecontent sidebar"
      "footer footer footer";
    width: 100vw;
  }
  .navbar.box {
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 3rem;
    /* margin: -1rem 0rem 0rem -1rem; */
    padding: 1.3rem 1.3rem 0.7rem 1.3rem;
    width: 97%;
  }
  .background.img .header.box {
    width: 100vw;
    margin-right: -1rem;
  }
  .content {
    margin-top: -4rem;
  }
  .content.box {
    border: transparent;
  }
  .sidebar {
    margin: -4rem 1rem 0 1rem;
  }
  .middlecontent {
    margin-top: -4rem;
  }
  .middlecontent.box {
    border: transparent;
  }
  .section {
    border-bottom: 2px solid black;
  }
  .sectionheader {
    border-bottom: 2px solid black;
  }
  .active,
  .navanker {
    font-size: 1.2rem;
  }
  .blogheadline {
    padding: 3rem;
  }
  .footer.box {
    width: 121%;
    padding: 3.2rem;
  }
}

/* Large Screen */
@media (min-width: 901px) {
  .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 5rem 20rem 1fr;
    grid-template-areas:
      "navbar navbar navbar"
      "header header header"
      "content middlecontent sidebar"
      "footer footer footer";
  }
  .navbar.box {
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 102%;
    height: 3rem;
    margin: -0.5rem -0.5rem 0rem -0.5rem;
    padding: 1.3rem 1.3rem 0.7rem 1.3rem;
  }
  .content.box {
    border: transparent;
  }
  .background.img {
    width: 100%;
  }
  .header.box {
    width: 106.5%;
  }
  .sidebar {
    margin: -5rem 1rem 0 1rem;
  }
  .sidebar.box {
    margin-bottom: rem;
  }
  .middlecontent.box {
    border: transparent;
  }
  .middlecontent {
    margin-top: -5rem;
    border-bottom: transparent;
  }
  .section {
    border-bottom: 2px solid black;
  }
  .sectionheader {
    border-bottom: 2px solid black;
  }
  .active,
  .navanker {
    font-size: 1.2rem;
  }
  .footer.box {
    width: 95%;
    height: auto;
    padding: 3.2rem;
  }
}
