@import url("navbar.css");
@import url("header.css");
@import url("footer.css");
@import url("content.css");

:root {
  /* Colors */
  --primary-color-dark: #00031c;
  --primary-color-light: #f5b1a4;
  --primary-color-white: #efefef;
  --second-color-blue: #679892;
  --second-color-purple: #d4b1cd;
}
p {
  font-family: Playfair Display;
  font-size: 1rem;
}
a {
  color: var(--primary-color-dark);
}

.container {
  display: grid;
  grid-template-columns: 2fr;
  grid-template-rows: 5rem 20rem 1fr;
  grid-template-areas:
    "navbar"
    "header"
    "content"
    "middlecontent"
    "sidebar"
    "footer";
  font-family: Playfair Display;
  grid-gap: 0.1rem;
}

.date {
  font-size: x-small;
  font-weight: bold;
  letter-spacing: 0.3rem;
  font-style: italic;
}

h3,
h4,
h5,
h6 {
  font-size: 1.5rem;
  font-weight: 400;
  margin: 0;
}
.readmore {
  text-decoration: underline;
  border: transparent;
  font-weight: 800;
  letter-spacing: 0.1rem;
}
.readmore:hover {
  color: var(--primary-color-light);
  cursor: pointer;
}

img {
  max-width: 18rem;
  width: 100%;
  height: auto;
  display: block;
  padding-top: 2rem;
}

.middlecontent {
  grid-area: middlecontent;
  padding: 1rem;
  margin: 0rem 1rem 0 1rem;
}
.middlecontent a {
  text-decoration: none;
  color: var(--primary-color-dark);
}
.middlecontent p {
  padding-top: 1rem;
}
.middlecontent.box {
  border-bottom: 2px solid black;
}

.sidebarheader {
  text-decoration: none;
  font-size: 2rem;
}

.sidebar {
  grid-area: sidebar;
  padding: 1rem;
  margin: 0rem 1rem 0 1rem;
}
.sidebar a {
  text-decoration: none;
  color: var(--primary-color-dark);
}
.sidebar p {
  padding-top: 1rem;
}

@media (max-width: 320px) {
  .container {
    display: grid;
    grid-template-columns: 2fr;
    grid-template-rows: 5rem 20rem 1fr;
    grid-template-areas:
      "navbar"
      "header"
      "content"
      "middlecontent"
      "sidebar"
      "footer";
  }
}
/* Medium Screen */
@media (min-width: 600px) and (max-width: 900px) {
  .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 5rem 15rem 1fr;
    grid-template-areas:
      "navbar navbar navbar"
      "header header header"
      "content middlecontent sidebar"
      "footer footer footer";
  }
  .content {
    margin-top: -4rem;
  }
  .content.box {
    border: transparent;
  }
  .sidebar {
    margin: -4rem 1rem 0 1rem;
  }
  .middlecontent {
    margin-top: -4rem;
  }
  .middlecontent.box {
    border: transparent;
  }
  .section {
    border-bottom: 2px solid black;
  }
  .sectionheader {
    display: flex;
    flex-direction: row;
    border-bottom: 2px solid var(--primary-color-dark);
    text-decoration: none;
    font-size: 2rem;
  }
  a.active {
    font-size: 1.2rem;
  }
}

/* Large Screen */
@media (min-width: 901px) {
  .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 5rem 20rem 1fr;
    grid-template-areas:
      "navbar navbar navbar"
      "header header header"
      "content middlecontent sidebar"
      "footer footer footer";
  }
  .content.box {
    border: transparent;
  }
  .sidebar {
    margin: -5rem 1rem 0 1rem;
  }
  .sidebar.box {
    margin-bottom: rem;
  }
  .middlecontent.box {
    border: transparent;
  }
  .middlecontent {
    margin-top: -5rem;
    border-bottom: transparent;
  }
  .section {
    border-bottom: 2px solid black;
  }
  .sectionheader {
    display: flex;
    flex-direction: row;
    border-bottom: 2px solid var(--primary-color-dark);
    text-decoration: none;
    font-size: 2rem;
  }
  a.active {
    font-size: 1.2rem;
  }
}
