.navbar.box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: 3rem;
  margin: -0.5rem -0.5rem 0rem -0.5rem;
  padding: 1.3rem 1.3rem 0.7rem 1.3rem;
  z-index: 2;
}

.navbar {
  grid-area: navbar;
  letter-spacing: 0.5rem;
  background-color: var(--primary-color-dark);
  color: var(--second-color-purple);
}
.navanker {
  color: var(--second-color-purple);
}
.navanker,
.active:hover {
  color: var(--second-color-blue);
}

.active {
  text-transform: uppercase;
  font-family: Playfair Display Bold;
  letter-spacing: 0.1rem;
  color: var(--second-color-purple);
  font-size: 1.2rem;
}
