@import url("../mainpage/navbar.css");
@import url("../mainpage/main.css");
@import url("../mainpage/footer.css");
@import url("authorinfo.css");
@import url("subscribe.css");

.containerpost {
  display: grid;
  grid-template-columns: 2fr;
  grid-template-rows: 5rem 1fr;
  grid-template-areas:
    "navbar"
    "content"
    "postsidebar"
    "author"
    "subscribe"
    "footer";
  width: 100vw;
  height: auto;
}
.content.box {
  border: none;
  margin: 0;
  border-bottom: 2px solid var(--primary-color-dark);
}
.content {
  grid-area: content;
  margin: 0.5rem;
}
.articleheader {
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 0.3rem;
}
.quote {
  font-style: italic;
}

.postsidebar {
  margin: 1rem;
  padding: 1rem;
}
.recentpost {
  border-bottom: 2px solid var(--primary-color-dark);
}

.articleimg {
  border-radius: 48%;
  width: 2rem;
  height: auto;
  max-width: 100%;
  padding-top: 0rem;
  padding-left: 0.9rem;
}
.sidebarheader {
  font-size: 1.5rem;
  font-weight: bold;
}
.article {
  border-bottom: 1px solid var(--primary-color-dark);
  padding: 1rem;
}

.headerabout {
  padding: 1rem;
  font-weight: bold;
}
#aboutusimg {
  border-radius: 50%;
  padding: 0;
  margin-right: 1rem;
}
.aboutcontent {
  border: 1rem transparent;
}
.contact {
  padding: 1rem;
}
.mail {
  font-size: 1.4rem;
}
.mail:hover {
  color: var(--second-color-blue);
}

.socialnetwork {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: baseline;
}
.logo {
  width: 1rem;
  height: 1rem;
  padding-top: 0.5rem;
}

@media (max-width: 320px) {
  .containerpost {
    display: grid;
    grid-template-columns: 2fr;
    grid-template-rows: 5rem 1fr;
    grid-template-areas:
      "navbar"
      "content"
      "postsidebar"
      "footer";
  }
}

@media (min-width: 600px) and (max-width: 900px) {
  .containerpost {
    display: grid;
    grid-template-columns: 40% 30%;
    grid-template-rows: 5rem 1fr;
    grid-template-areas:
      "navbar navbar navbar"
      "content content postsidebar"
      "author author subscribe "
      "footer footer footer";
  }
  .navbar.box {
    width: 100%;
    height: auto;
  }
  .header.box {
    width: 120vw;
  }
  .content {
    margin: 0;
  }
  .content.box {
    margin: 2rem;
    border-bottom: 2px solid var(--primary-color-dark);
  }
  .colorimg {
    max-width: 15rem;
    float: left;
    padding-right: 2rem;
  }
  .authorinfo {
    grid-area: author;
    width: 70%;
  }
  form {
    grid-area: subscribe;
    max-width: 15rem;
    gap: 0.8rem;
  }
  .subscribe {
    margin: 2rem 2rem 2rem -2rem;
  }
  .postsidebar {
    border: none;
  }
  .footer.box {
    width: 103vw;
  }
}

@media (min-width: 901px) {
  .containerpost {
    display: grid;
    grid-template-columns: 40% 30%;
    grid-template-rows: 5rem 1fr;
    grid-template-areas:
      "navbar navbar navbar"
      "content content sidebar"
      "author author subscribe"
      "footer footer footer";
  }
  .content {
    margin: 0;
  }
  .content.box {
    margin: 2rem;
    border-bottom: 2px solid var(--primary-color-dark);
  }
  .colorimg {
    max-width: 15rem;
    float: left;
    padding-right: 2rem;
  }
  .authorinfo {
    grid-area: author;
    width: 85%;
  }
  .subscribe {
    margin: 2rem -1rem;
  }
  .navbar {
    width: 100vw;
    height: auto;
  }
  .footer.box {
    width: 102vw;
  }
}
